body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
  }
  
  hr {
    border: 1px solid hsl(215, 32%, 27%);
    border-radius: 50px;
  }
  
  .card {
    background-color: hsl(216, 50%, 16%);
    width: 250px;
    padding: 20px;
    margin: 70px auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px black;
  }
  
  .card img {
    border-radius: 7px;
  }
  
  .title {
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    text-align: left;
  }
  
  .text1 {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    font-weight: 300;
    text-align: left;
  }
  
  .text2 {
    color: hsl(178, 100%, 50%);
    font-size: 13px;
    display: inline-flex;
    position: relative;
    right: 40px;
    align-items: center;
  }
  
  .text2 img {
    padding-right: 10px;
    padding-left: 35px;
  }
  
  .text3 {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    display: inline-flex;
    position: relative;
    left: 40px;
    align-items: center;
  }
  
  .text3 img {
    padding-right: 5px;
  }
  
  .text4 {
    font-size: 13px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    display: inline-flex;
    position: relative;
    right: 30px;
    margin: 8px 0 0;
    align-items: center;
  }
  
  .text4 img {
    width: 30px;
    margin-right: 15px;
    padding-left: 35px;
    border-radius: 100px;
  }
  
  .creator {
    color: white;
  }
  
  .attribution {
    color: hsl(215, 51%, 70%);
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(215, 51%, 70%);
    text-decoration: none;
  }